body{
  background-color: #003399;
}
.App{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.main-box {
  margin: auto;
  padding: 10px;
  background-color: #33ccffa4;
  border-radius: 10px;
  color: aliceblue;
}
.main-box a{
  color: aliceblue;
}


