body{
  background-color: #003399;
}
.App{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}



.main-box {
  margin-top: 25%;
  padding: 10px;
  background-color: #33ccffa4;
  border-radius: 10px;
  color: aliceblue;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


